  <div class="jumbotron">
    <h1 class="title">Fullstack Careers</h1>
    <p class="slogan"> Looking for your dream job? Find it at Fullstack Careers. Bring your best ideas – and we’ll make them come to life.</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join us</a></p>
  </div>

   <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-12 ">

        </div>
      </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3 class="section-heading">Global Development Center</h3>
          <p class="jobdesc">You have a passion for webside and software development, new technologies and open source? You know Ruby on Rails? You rather to bring your idea into life than deep in your mind? Perfect.</p>
          <p> <a class="link" target="_blank" href="/jobs">Learn more</a></p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img src="https://image.ibb.co/nHJO0k/276440_jpg_adapt_450_250_false_false_false_false.jpg" alt="bid" class = "img-thumbnail">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3>Global Finance Center</h3>
          <p class="jobdesc"> Work with big goals – and big budgets – to help us make the right moves in the digital economy. We’re hiring within our Global Finance Service Center(GFS), and we want you to apply for this exciting team. </p>
          <p> <a class="link" target="_blank" href="/jobs">Learn more</a></p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img src="https://image.ibb.co/hnurmQ/277357_jpg_adapt_450_250_false_false_false_false.jpg" alt="heart" class = "img-thumbnail">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3>Fullstack Engineer</h3>
          <p class="jobdesc"> Join the three months Fullstack Academy for ruby and rails training program and gain the skills you need to become a fullstack engineer – a problem-solver and solution expert, serving one of the world’s most wonderful companies.  </p>
          <p> <a class="link" target="_blank" href="/jobs">Learn more</a></p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img src="https://image.ibb.co/i2pD0k/stock_millennials_asian_workshop_jpg_adapt_450_250_false_false_false_false.jpg" alt="heart" class = "img-thumbnail">
        </div>
      </div>
    </div>
  </div>


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class=""></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <img class="first-slide" src="https://image.ibb.co/h9yLi5/slide_1.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Fullstack Careers</h1>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Join Us</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <img class="second-slide" src="https://image.ibb.co/cr9t35/slide_2.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Fullstack Careers Focus on</h1>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="item active">
            <img class="third-slide" src="https://image.ibb.co/iuZRO5/slide_3.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Learn more about fullstack careers</h1>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  <script>
  $('.carousel').carousel({
    interval: 2000
  })
  </script>
