  <div class="jumbotron">
    <h1 class="title">Fullstack Careers</h1>
    <p class="slogan"> Looking for your dream job? Find it at Fullstack. Bring your best ideas – and we’ll make them come to life.</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join us</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://image.ibb.co/nHJO0k/276440_jpg_adapt_450_250_false_false_false_false.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>Global Development Center</h3>
              <p class="jobdesc"> You have a passion for software development, new technologies and open source? You know that Cloud Foundry is not a weather forecast system and a PaaS is not a typo? You rather have your software up in the clouds than your head? Perfect. </p>
              <p class="link"> Learn more</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://image.ibb.co/hnurmQ/277357_jpg_adapt_450_250_false_false_false_false.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>Global Finance Center</h3>
              <p class="jobdesc"> Work with big goals – and big budgets – to help us make the right moves in the digital economy. We’re hiring within our Global Finance Shared Services (GFSS) department, and we want you to apply for this exciting team. </p>
              <p class="link"> Learn more</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://image.ibb.co/i2pD0k/stock_millennials_asian_workshop_jpg_adapt_450_250_false_false_false_false.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>Global Market Center</h3>
              <p class="jobdesc"> Join the one-year SAP Academy for Presales training program and gain the skills you need to become an SAP Presales Solution Engineer – a problem-solver and solution expert, serving some of the world’s biggest companies.  </p>
              <p class="link"> Learn more</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
